body {
    /* background-image: url('../img/bg-kiosk.jpg') !important; */
    background: #36465d;
}

header {
    color: #fff !important;
}

.navbar-brand {
    padding: 1px 15px;
}

.navbar-brand img {
    height: 50px;
    margin-top: 0px;
}

img.download {
    width: 150px;
}
